/* Variables */
:root {
    --color-orange: #E7820C;
    --font-color-white: #EEE;
    --font-color-gray: #333;
    --font-size-header: 5rem;
    --font-size-large: 1.3rem;
    --font-size-medium: .9rem;
    --font-size-small: .75rem;
    --bg-color-light-gray: #EEE; 
    --bg-color-translucent: #55555548;
    --padding-large: 1.8rem;
    --padding-medium: 1rem;
    --padding-small: .2rem;
}

/* Font */
@font-face {
    font-family: 'norse-bold';
    src: url('../fonts/Norse-Bold.otf') format('opentype');
    font-weight: bold;
    font-size: normal;
}

/* Document */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: inherit;
    font-family: inherit;
}

html {
    font: 16px Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

/* Left column */
.picture {
    width: 40vw;
    background-image: url(../img/joshua-sukoff-6bp0-1fTWGk-unsplash.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    justify-content: center;
    position: relative;
    color: var(--font-color-white);
}

.logo {
    position: relative;
    top: -16vh;
    padding: 4vh;
    background: var(--bg-color-translucent);
}

.logo a {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vh;
    text-decoration: none;
}

.odin-logo {
    height: calc(var(--font-size-header) * 1.25);
    width: auto;
    /* filter: invert(40%) sepia(18%) saturate(4853%) hue-rotate(357deg) brightness(93%) contrast(94%); Filter for changing The Odin Project logo color */
}

.odin-header {
    font-size: var(--font-size-header);
    font-family: 'norse-bold', Helvetica, sans-serif;
}

.photo-credit {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: var(--padding-medium);
    font-size: var(--font-size-small);
}

.center {
    display: flex;
    justify-content: center;
}

/* Right column */
.content {
    width: 60vw;
    background-color: var(--bg-color-light-gray);
    justify-content: flex-start;
    padding-top: 10vh;
}

.content h2, legend {
    width: 45vw;
    font-size: var(--font-size-large);
    font-weight: bold;
}

h2 + h2 {
    padding: var(--padding-medium) 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: var(--padding-medium) 0;
    padding-top: var(--padding-large);
    padding-bottom: var(--padding-medium);
    gap: var(--padding-medium);
    background-color: white;
    color: var(--font-color-gray);
    box-shadow: 0 0.5vh 1vh var(--bg-color-translucent);
}

section {
    display: inline-flex;
    height: calc(4 * var(--padding-medium));
    gap: var(--padding-medium);
}

div.input {
    display: flex;
    flex-direction: column;
    width: 22vw;
}

label {
    font-size: var(--font-size-small);
    letter-spacing: .1rem;
    padding-bottom: var(--padding-small);
}

input {
    height: var(--padding-large);
    font-size: var(--font-size-medium);
    padding: 1vh;
    color: black;
}

.left {
    padding-left: 4vw;
    padding-right: 4vw;
}

button[type="submit"] {
    padding: .4rem 1.5rem;
    font-size: var(--font-size-medium);
    margin: var(--padding-medium) 0;
    color: var(--font-color-white);
    background-color: var(--color-orange);
}

button[type="submit"] + p {
    font-size: var(--font-size-small);
    margin-bottom: var(--padding-medium);
}

.photo-credit a, .log-in {
    font-weight: bold;
    color: var(--color-orange);
}

/* General */
a {
    padding: 0 var(--padding-small);
}

i {
    color: var(--color-orange);
}